@use 'variables' as var;
@use 'mixins' as mx;

body {
   background-color: var.$matricula;
}

header {  

    text-align: center;
    margin: 0px 0px 30px 0px;

    h1 {
    color: var.$branco;
    font-size: 50px; 
    }

    hr {
        width: 750px;
     }     
}


.all {
    @include mx.flex1();
}


#tabuada {
    max-height: 500px;

    .indicacao_1 {
      display: flex;
      justify-content: center;
    }

    div p {
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      color: var.$branco;
      font-weight: bolder;
    }

    div img {
      width: 50px;
      height: 50px;
    }

    .indicacao_2 {
      display: flex;
      justify-content: center;
      margin: 15px;
    }
}

.caixa_operacional {
  margin: 10px 0px;
  height: 1024px;

  .numbers {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}

.numbers > div {
  padding: 10px 15px;
  font-size: 18px;
  background-color: #f1f5f6;
  color: #202b38;
  border-radius: 100px;
  border: 3px solid var.$vermelho;
  width: 20px;
  cursor: pointer; 
}

.resultado  {
  background-color: var.$branco;
  width: 200px;
  height: 450px;
  margin: -80px 0px 0px 350px;
  border: 3px solid var.$vermelho;

  #result {
    margin: 10px;
    word-wrap: break-word;
    max-height: 100%;
    overflow: auto;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    
  }
}

.operations {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5px;
  gap: 10px;
}

.operations > div {
padding: 10px 15px;
font-size: 18px;
background-color: #f7f8f1;
color: #202b38;
border-radius: 100px;
width: 20px;
border: 3px solid var.$vermelho;
cursor: pointer;
}

#go  {
  padding: 10px 15px;
  font-size: 18px;
  width: 80px;
  background-color: rgb(240, 243, 235);
  border: 3px solid var.$vermelho;
  border-radius: 100px;
  margin: 10px;
  cursor: pointer;
}

#clear {
  padding: 10px 15px;
  font-size: 18px;
  width: 80px;
  background-color: rgb(230, 233, 225);
  border: 3px solid var.$vermelho;
  border-radius: 100px;
  margin: 10px;
  cursor: pointer;
}

}  

.numbers > div.selected {
  background-color: red;
  color: white; 
}

.operations > div.selected {
  background-color: red;
  color: white; 
}

#go.Selected {
  background-color: red;
  color: white; 
}

#clear.Selected {
  background-color: red;
  color: white; 
}
